<!-- TODO: Alert box should be droppable. -->
{% load element_translator %}
<form id="search" action="/{{ curr_lang_code }}/search/" method="post">
	{% csrf_token %} 
	<h2>{% gettext searchboxes-form-header %}</h2>
	<fieldset id="fieldset_1">
		{% gettext searchboxes-radio-Renting %} <input id="sale_type_radio_R" type="radio" name="sale_type" value="R" checked="">
		{% gettext searchboxes-radio-Buying %} <input id="sale_type_radio_S" type="radio" name="sale_type" value="S">
		
		<label for="district">{% gettext searchboxes-form-location_label %}</label>
		<input type="text" name="district" placeholder="{% gettext searchboxes-form-location_placeholder %}">
		<p>View <a href="/{{ curr_lang_code }}/city_guide/all/">London area guide</a> or search by <a href="#" id="search_by_map_link" >Map</a></p>
	</fieldset>
	<fieldset id="fieldset_2">
		<label for="property_type">{% gettext searchboxes-form-property_type_label %}</label>
		<select name="type" class="property_type">
			{% for code, name in searchform_types %}
				{% if code == 'NA' %}
					<option selected="selected" value="{{ code }}">{% gettext searchboxes-form-Any %}</option>
				{% else %}
					<option value="{{ code }}">{{ name }}</option>
				{% endif %}
			{% endfor %}
		</select>
		
		<label for="price">{% gettext searchboxes-form-price_label %}</label>
		{% gettext searchboxes-form-From %} 
		<select id="min_price-select" name="min_price">
				{% for i in max_options %}<option value="-1" style="display: none;"></option>{% endfor %}
		</select>
		{% gettext searchboxes-form-To %} 
		<select id="max_price-select" name="max_price">
			{% for i in max_options %}<option value="-1" style="display: none;"></option>{% endfor %}
		</select>
		
		<label for="number_of_bedrooms">{% gettext searchboxes-form-bedroom_label %}</label>
		{% gettext searchboxes-form-From %} 
		<select id="min_bedrooms-select" name="min_bedrooms">
			{% for i in max_options %}<option value="-1" style="display: none;"></option>{% endfor %}
		</select>
		{% gettext searchboxes-form-To %} 
		<select id="max_bedrooms-select" name="max_bedrooms">
			{% for i in max_options %}<option value="-1" style="display: none;"></option>{% endfor %}
		</select>
		
		<input type="submit" class="button_2" value="{% gettext searchbox-form-search_button %}">
	</fieldset>
	<a href="#" class="button_1 alert_box"><img src="{{ STATIC_URL }}images/alert_icon.png" alt="{% gettext searchboxes-form-email_alert %}">{% gettext searchboxes-form-email_alert %}</a>
</form> <!-- end of: search -->
<div id="dropped_min_prices" style="display: none"></div>
<div id="dropped_max_prices" style="display: none"></div>

<div id="dropped_min_bedrooms" style="display: none"></div>
<div id="dropped_max_bedrooms" style="display: none"></div>