{% extends "skeleton_page.html" %}

{% block container_class %}page tenants buyers{% endblock %}

{% block before_content %}{% endblock %}

{% block real_content_id %}tenants{% endblock %}

{% load element_translator %}
{% block real_content %}

<div id="map" class="single">
	
	{% include "elements/reusable/row_content.html" %}
	
</div>

{% include "elements/reusable/our_staff.html" %}

{% endblock %}

{% block sidebar_content %}

{% include "shortcuts/usual_sidebar.html" %}

{% endblock %}

{% block after_content %}{% endblock %}