{% extends "skeleton_page.html" %}

{% block image_slider %}{% endblock %}

{% block extra_scripts %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/detail.js"></script>
	<script type="text/javascript">
		var total_images = {{ total_images }};
		{% if property_ids %}
			var property_ids = {{ property_ids }};
			var property_coords = [{% for coord in property_coords %}{{ coord }}{% if not forloop.last %}, {% endif %}{% endfor %}];
		{% else %}
			var property_ids = [];
		{% endif %}
		var curr_property_id = {{ curr_property_id }};
		var curr_property_coord = [{{ curr_property_coord.0 }}, {{ curr_property_coord.1 }}];
	</script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/search_form.js" ></script>
{% endblock %}

{% block container_class %}page detail{% endblock %}

{% load element_translator %}
{% block before_content %}

<div id="header">
	
	<div class="result_bar detail">
		<a href="#" class="prev">&lt; {% gettext detail-Previous_property %}</a>
		<ul class="detail_options">
			<li class="selected"><a href="#" id="detail-image_link">{% gettext detail-Photos %}</a> |</li>
			<li><a href="#" id="detail-map_link">{% gettext detail-Map %}</a> |</li>
			<li><a href="#" id="detail-floorplan_link">{% gettext detail-Floorplan %}</a></li>
		</ul>
		<a href="#" class="next">{% gettext detail-Next_property %} &gt;</a>
		<a href="#" class="back">{% gettext detail-Back_to_search_results %}</a>
	</div>

</div> <!-- end of: header -->

{% endblock %}

{% block real_content_id %}detail{% endblock %}

{% block real_content %}

<div id="detail" class="main">

	<div id="feature" >
		
		<div id="big_outer_holder" style="width: 698px; height: 382px; padding-bottom: 5px;" >
			<div id="big_inner_holder" style="width: {{ big_total_width }}px; height: 382px; overflow:hidden; position:relative; z-index: 0;">
				{% for big_image in big_images %}
				<img id="big_image_{{ forloop.counter }}" src="{{ MEDIA_URL }}{{ big_image }}" style="float: left;">
				{% endfor %}
			</div>
		</div>
		<ul class="slidecontrols">
			<li><a href="#" class="prev" id="prev_big_image" >Prev</a></li>
			<li><a href="#" class="next" id="next_big_image" >Next</a></li>	
		</ul>
		<div id="small_outer_holder" style="width: 698px; height: 85px;" >
			<div id="small_inner_holder" style="width: {{ small_total_width }}px; height: 85px; overflow:hidden; position: relative;" >
				{% for small_image in small_images %}
					<img class="small_image" id="small_image_{{ forloop.counter }}" src="{{ MEDIA_URL }}{{ small_image }}" >
				{% endfor %}
			</div>
		</div>
	</div>
	<div id="map_holder" style="width: 698px; height: 472px;" ></div>
	<div id="floorplan_holder" style="width: 698px; height: 382px;" ></div>

	{% comment %}TODO: add real meaning to the sharebar links {% endcomment %}
	<div id="sharebar" class="row">
		<ul class="share">
			<li><a href="" id="detail-shortlist_link"><img src="{{ STATIC_URL }}images/love_icon.png" alt="{% gettext detail-love_alt %}"> {% gettext detail-love_text %}</a></li>
			<li><a href="mailto:?subject=Check+out+this+great+property+at+http%3A%2F%2F{{ misc.address }}%2F{{ curr_lang_code }}%2Fdetail%2F{{ curr_property_id }}%2F"><img src="{{ STATIC_URL }}images/email_icon.png" alt="{% gettext detail-email-alt %}"> {% gettext detail-email_text %}</a></li>
			<li><a href="javascript:window.print()"><img src="{{ STATIC_URL }}images/print_icon.png" alt="{% gettext detail-print_alt %}"> {% gettext detail-print_text %}</a></li>
			<li><a href="https://www.facebook.com/sharer/sharer.php?u=http://{{ misc.address }}/{{ curr_lang_code }}/detail/{{ curr_property_id }}/"><img src="{{ STATIC_URL }}images/facebook_icon.png" alt="{% gettext detail-facebook_alt %}"> {% gettext detail-facebook_text %}</a></li>
			<li><a href="http://twitter.com/intent/tweet?url=http%3A%2F%2F{{ misc.address }}%2F{{ curr_lang_code }}%2Fdetail%2F{{ curr_property_id }}%2F"><img src="{{ STATIC_URL }}images/twitter_icon_black.png" alt="{% gettext detail-twitter_alt %}"> {% gettext detail-twitter_text %}</a></li>
		</ul>
	</div> <!-- end of: sharebar -->

	<div class="row_2col" >
	
		<div class="col">
			<h2>{% gettext detail-Property_Details %}</h2>
			<p><strong>{% gettext detail-Property_Ref_No %} {{ property.property_id }}</strong></p>
			<p>{{ property.description }}</p>
		</div>
	
		<div class="col">
			<h2>This part can't be generated!!!!</h2>
			<ul>
				<li>16th Floor</li>
				<li>Two bedroom/two bathroom (one en-suite)</li>
				<li>London's newest prestigious residential skyscraper</li>
				<li>Breathtaking views taking in all famous landmarks</li>
				<li>Moments from Underground station</li>
			</ul>

			<h2>Local Information</h2>
			<ul>
				<li>Nearest Town Centre: 0.5m</li>
				<li>Nearest School: 0.3m</li>
				<li>Nearest Tube Station: 0.3m</li>
			</ul>
		</div>
	
	</div>

	<div class="row_3col"> <!-- TODO: Need to be generated automatically from the property and staff models -->
	
		<div class="col">
			<img src="{{ STATIC_URL }}images/staff_photo4.jpg" alt="Staff Member">
		</div>
	
		<div class="col">
			<p><strong>Call Debbie to arrange a viewing on</strong></p>
			<p><strong><span class="phone">+44 (0)208 896 9990</span> or...</strong></p>
		</div>
	
		<div class="col">
			<p class="email"><img src="{{ STATIC_URL }}images/email_icon.png" alt="{% gettext detail-contact_by_email_alt %}"> <strong><a href="#">{% gettext detail-contact_by_email_text %}</a></strong></p>
		</div>
	
	</div> <!-- end of: row4 -->
	
</div> <!-- end of: detail -->

{% endblock %}

{% block sidebar_content %}

{% include "elements/searchboxes/form.html" %}

<div class="side_col">
	{% include "elements/reusable/faq_links.html" %}
</div>

{% endblock %}

{% block after_content %}{% endblock %}

{% block after_container %}{% endblock %}