{% extends "skeleton_page.html" %}

{% block container_class %}page tenants currency_exchange property_management landlords faq{% endblock %}

{% block before_content %}{% endblock %}

{% block real_content_id %}tenants{% endblock %}

{% load element_translator %}
{% block real_content %}

{% for faq in faqs %}
<div class="row_1col">
	<div class="faq-item">	
		<h2>{{ faq.question }}</h2>
		<p>{{ faq.answer }}</p>
		<a class="button_2 contact" href="mailto:{{ misc.faq_contact_email }}?subject={{ faq.question }}">{% gettext faq-contact_button_text %}</a>
	</div>
</div>
{% endfor %}

{% endblock %}

{% block sidebar_content %}

{% include "elements/searchboxes/form.html" %}

{% include "elements/reusable/newsletter.html" %}

{% endblock %}

{% block after_content %}{% endblock %}

{% block after_container %}{% endblock %}