{% extends "skeleton_page.html" %}

{% block extra_scripts %}
	<script type="text/javascript">
		var curr_result_per_page = {{ default_result_per_page }};
		var curr_ordering = '{{ default_ordering }}';
		var found_property_ids = {{ found_property_ids }};
		var found_property_coords = { {% for pid,coord in found_property_coords.items %} {{ pid }}: new google.maps.LatLng( {{ coord.lat }}, {{ coord.lng }}) {% if not forloop.last %}, {% endif %} {% endfor %} };
		var map;
		var map_type;
		var found_markers = new Array();
		var all_markers = new Array();
		var bounds;
	</script>
	{% comment %}
	{ lng: {{ coord.lng }}, lat: {{ coord.lat }} }
	{% endcomment %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/search_page.js" ></script>
{% endblock %}

{% block container_class %}page search{% endblock %}

{% block before_content %}

{% include "elements/search_content/result_bar.html" with master_class="result_bar" %}

{% endblock %}

{% block real_content_id %}search_results{% endblock %}

{% load element_translator %}
{% block real_content %}
<!-- TODO: Automatically generate this and create models for it. -->
{% for result in search_results %}
<div id="result_{{ result.property_id }}" class="result">
	<!-- Adding the image slider -->
	<div class="result_image">
		<img src="{{ MEDIA_URL }}{{ result.searchimages.0 }}" alt="search result">
		<div class="controls">
			<ul>
				{% for image in result.searchimages %}
				{% if forloop.first %}
				<li class="selected" id="{{ result.property_id }}_{{ forloop.counter }}_car" ><a href="#" >{{ result.property_id }}_{{ forloop.counter }}</a></li>
				{% else %}
				<li id="{{ result.property_id }}_{{ forloop.counter }}_car" ><a href="#" >{{ result.property_id }}_{{ forloop.counter }}</a></li>
				{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>

	<!-- Storing the rest of the images -->
	{% for image in result.searchimages %}
	<div style="display: none" id="{{ result.property_id }}_{{ forloop.counter }}_holder">
		{% if not forloop.first %}
			<img  src="{{ MEDIA_URL }}{{ image }}" alt="search result">
		{% endif %}
	</div>
	{% endfor %}

	<!-- Adding the property details -->
	<div class="result_details">
		<h3>{{ result.address.address }} - {{ result.address.postcode }}</h3>
		<strong>{% gettext search-Property_Ref_No %} {{ result.property_id }}</strong>
		{{ result.description }}
	</div>
	<div class="result_options">
		<span class="price" id="{{ result.property_id }}_price_{{ result.price }}" >£{{ result.price }}{% if result.sale_type == 'R' %}<small> p/w</small>{% endif %}</span>
		<a class="button_2" href="#" id="result_button_{{ result.property_id }}" >{% gettext search-View_details %}</a>
		<a id="shortlist_button_{{ result.property_id }}" class="button_1" href="">{% gettext search-Add_to_shortlist %}</a>
	</div>
</div>
{% empty %}
<div class="result">
<h2>There are no properties matching your search criteria!</h2>
</div>
{% endfor %}
{% endblock %}

{% block sidebar_content %}

{% include "elements/searchboxes/form.html" %}

{% include "elements/reusable/newsletter.html" %}
	
{% include "elements/reusable/iphone_app.html" %}

{% endblock %}

{% block after_content %}

{% include "elements/search_content/result_bar.html" with master_class="result_bar lower" %}

{% endblock %}

{% block after_container %}{% endblock %}